[Unit]
Description={{ application_name }} service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ home_directory }}/{{ application_name }}/bin/nexus start
ExecStop={{ home_directory }}/{{ application_name }}/bin/nexus stop
User={{ local_account }}
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
